.app{
    overflow: hidden;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height:var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
    z-index: 1;

}
.header__navbar{
    display: flex;
    justify-content: space-between;
}
.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
}

.header__navbar-item{
    margin: 0 8px;
    position: relative;
    min-height: 26px;
    z-index: 1;
}
.header__navbar-user{
    display: flex;
    justify-items: center;
    position: relative;
}
.header__navbar-user-img{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.header__navbar-user-name{
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 600;
}
.header__navbar-user:hover .header__navbar-user-menu{
    display: block;

}

.header__navbar-user-menu{
    position: absolute;
    z-index: 1;
    padding-left:0; 
    top: calc(100% + 6px);
    right: 0;
    border-radius: 2px;
    background-color: var(--white-color);
    width: 160px;
    list-style: none;
    display: none;
}
.header__navbar-user-item-sperarate {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.header__navbar-user-item a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 600;
    padding: 4px 16px;
    display:block;
    box-shadow: 0 1px 2px #e0e0e0;
    
}
.header__navbar-user-item a:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.header__navbar-user-menu::before{
    content: "";
    border-width: 12px 13px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 8px;
    top: -20px;
}
.header__navbar-user-menu::after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -8px;
    height: 8px;
    width: 60%;
    
}
.header__navbar-user-item a:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.header__navbar-user-item a:hover{
    background-color: #fafafa;
}
.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}
.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.7rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}
.header__navbar-item--has-notify:hover .header__notify{
    display: block;
}

.header__navbar-item,
.header__navbar-item-link,
.header_navbar-icon {
    display: inline-flex;
    align-items: center;

}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover
{
    cursor: pointer;
    color: rgba(255,255,255, 0.7);
}
.header__navbar-item--strong{
    font-weight: 900;
}

.header__navbar-item--sperate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #FB9086;
    height: 14px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);

}
.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}
.header__navbar-icon-link:nth-child(2){
    margin-left: 3px;
}
.header_navbar-icon{
    font-size: 1.8rem;
    margin: 0 4px;
   
}
.header__navbar--title-no-pointer{
    cursor: text;
    color: var(--white-color);
}
/* HEADER QRCODE */
.header__qr{
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none ;
    animation: fadeIn ease-in 0.5s;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

}
.header__qr::before{
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
}
.header__qr-apps{
    display: flex;
    justify-content: space-between;

}
.header__qr-img{
    width: 100%;

}
.header__qr-link:nth-child(1){
    margin-left: 11px;
}
.header__qr-link:nth-child(2){
    margin-right: 11px;
}
.header__qr-download-img{
    height: 14px;

}
/* header notify */
.header__notify{
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    border-radius: 2px;
    border: 1px solid #D3D3D3;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 32px) top;
    animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity, transform;
    display: none;
}

.header__notify::before{
    content: "";
    border-width: 20px 26px;
    border-style:  solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 3px;
    top: -27px;
}

.header__notify::after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    width: 90px;
    height: 20px;
}


@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }

}
.header__notify-header {
    height: 40px;
    background-color: var(--white-color);

}

.header__notify-header h3{
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    user-select: none;
}
.header__notify-list{
    padding-left: 0;


}
.header__notify-item{
    display: flex;
}

.header__notify-item:hover{
    background-color: #f1f1f1;
}
.header__notify-item-viewed{
    background-color: rgba(238, 75, 43, 0.08);

}
.header__notify-link{
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
    

}

.header__notify-img{
    width: 48px;
    ;

}
.header__notify-info{
    margin-left: 12px;

}
.header__notify-name{
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 400;
    line-height: 1.6rem;

}
.header__notify-description{
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756f6e;
    margin-top: 4px;

}
.header__notify-footer{
    display: flex;
 
}

.header__notify-footer-btn{
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 48px;
    margin: auto;
    font-weight: 400;
 
}

/* authen modal */
.modal{
    display: none;
}
.modal.openSignUp{
    display: flex;
}


/* sign-up */

.auth-form{
    max-width: calc(100% - 32px);
    
}
.auth-form__login{
    display: none;
}
.auth-form__container{
    padding: 0 32px;
    
}
.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}
.auth-form__heading{
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--text-color);
}
.auth-form__switch-btn{
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;

}
.auth-form__input{
    width: 100%;
    height:40px;
    margin-top: 16px;
    padding: 0 12px;

    font-size: 1.4rem;
    border-radius: 2px;
    border: 1px solid var(--border-color);
}
.auth-form__input:focus{
    border-color:#888 ;

}
.auth-form__aside{
    margin-top: 18px;
}
.auth-form__policy-text{
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;

}
.auth-form__text-link{
    color: var(--primary-color);
    text-decoration: none;
}
.auth-form__controls{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back{
    background-color: var(--white-color);
    margin-right: 8px;
}
.auth-form__socials{
    background-color: #f5f5f5;
    padding: 12px 32px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

.auth-form__socials-icon--facebook{
    background-color: #3a5a98;
    color: var(--white-color);
} 
.auth-form__socials-icon--facebook
.auth-form__socials-icon  {
    color: var(--white-color);

}

.auth-form__socials-icon-title{
    margin: 0 22px;
}

.auth-form__socials-icon-instagram{
    color: var(--white-color);
    background-color: #cb1753;
}
.auth-form__help{
    display: flex;
    justify-content: flex-end;
}
.auth-form__help-link{
    text-decoration: none;
}
.auth-form__help-separate{
    display: block;
    height: 18px;
    margin: 0 16px;
    border-left: 1px solid var(--border-color);
}
.auth-form__help-forgot{
    color: var(--primary-color);

}


/* Header with search */
.header-with-search{
    height: var( --header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}
.header__moblie-search{

    padding: 0 12px;
    display: none;

}
.header__moblie-search-icon{
    font-size: 2.6rem ;
    color: var(--white-color);
}

.header__logo{
    width: 200px;
}
.header__logo-link{
    text-decoration: none;
    color: transparent;
}
.header__search-checkbox:checked ~ .header__search{
    display: flex;

}
.header__logo-pic{
    color: var(--white-color);
    width: 150px;
}

.header__search{
    flex: 1;
    height: 40px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;

}

.header__cart {
    width: 150px;
    text-align: center;
   
}


.header__cart-icon {
    font-size: 2.4rem;
    color: var(--white-color);
}
.header__cart-warp{
    position: relative;
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    
} 
.header__cart-warp:hover .header__cart-list{
    display: block;
}
.header__cart-list{
    position:absolute;
    top: calc(100% + 8px);
    right: 2px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    display: none; 
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    z-index: 1;
}
.header__cart-heading{
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 500;

}
.header__cart-list-item{
    padding-left: 37px ;
    list-style: none;
    max-height: 50vh;
    overflow-y: auto;
    
}


.header__cart-item{
    display: flex;
    margin-left: -32px;
    align-items: center;

}
.header__cart-item:hover{
    background-color: #F8F8F8;
}
.header__cart-img{
    width: 42px;
    height: 42px;
    margin: 7px;
    margin-top: 11px;
    border: 1px solid #E8E8E8;

}
.header__cart-item-info{
    width: 100%;
    margin-right: 12px;

}
.header__cart-item-head{
    display: flex;
    align-items: center;
    
}
.header__cart-item-name{
    font-size: 1.4rem;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    font-weight: 600;
    color: var(--text-color);
    margin: 0;
    flex: 1;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;

}
.header__cart-item-body{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.header__cart-item-description{
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;
}
.header__cart-item-remove{
    color: var(--text-color);
    font-size: 1.3rem;
    font-weight: 500;
    
}
.header__cart-item-remove:hover{
    color: var(--primary-color);
    cursor: pointer;
    
    
}

.header__cart-list::after {
    cursor: pointer;
    content: "";
    position: absolute;
    right: -3px;
    top: -23px;
    border-width:  16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
   
}
.header__cart-list--no-cart{
    padding: 28px 0;

}
.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-no-cart-msg{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.header__cart-no-cart-img{
    width: 50%;
    display: none;
}
.header__cart-list-no-cart-msg{
    display: block;
    font-size: 1.4rem;
    margin-top: 12px;
    color: var(--text-color);
    display: none;
    
}
.header__cart-notice{
    position: absolute;
    right: -8px;
    top: -13px;
    padding: 1px 6px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #EE4D2D;
    color: var(--primary-color);
    background-color: var(--white-color);

}
.header__search-input {

     flex: 1;
     height: 100%;
     border: none;
     outline: none;
     font-size: 1.4rem;
     color: var(--text-color) ;
     padding: 0 16px;
     border-radius: 3px;
}

.header__search-btn{
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    outline: none;
    border-radius: 3px;
    margin-right: 3px;
}
.header__search-btn:hover{
    cursor: pointer;
    background-color: #fb6445;
}
.header__search-btn-icon{
    font-size: 1.4rem;
    color: var(--white-color);

}
/* Header sort bar */
.header__sort-bar{
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: var(--header-with-search-height);
    background-color: var(--white-color);
   
    list-style: none;
    margin: 0;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;

}
.header__sort-item{
    flex: 1;

}
.header__sort-link {
    text-decoration: none;
    color: var(--text-color);
    
    font-size: 1.6rem;
    display: block;
    height: 100%;
    line-height: var(--header-with-search-height);
    text-align: center;
    position: relative;
    font-weight: 600;


}
.header__sort-link::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 60%;
    border-left: 1px solid #e5e5e5;
    transform: translateY(-50%);

}
.header__sort-item-active{
    color: var(--primary-color);
}
.header__sort-item:first-child .header__sort-link::before{
    display: none;
}

/* App container */

.app__container {
    background-color: #f5f5f5;
   
}
.app_content{
    padding-top: 36px;
}
.category{
    border-radius: 2px;
    background-color: var(--white-color);
}
.category__heading{
    color: var(--text-color);
    font-size: 1.8rem;
    padding: 12px 16px;
    margin-top: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    padding-top: 16px;
}
.category__heading-icon{
    font-size: 1.8rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}
.category-list{
    padding: 0 0 8px 0;
    list-style: none;
    margin-left:12px ;
}
.category-item {
    position: relative;

}
.category-item:first-child::before{
    display: none;
}
.category-item::before{
    content: "";
    border-top: 1px solid #e1e1e1;
    position: absolute;
    top: 0;
    left: 16px;
    right: 20px;
}

.category-item__link{
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.6rem;
    padding: 12px 20px;
    display: block;
    right: 0;
    transition: right linear 0.1s;

}
.category-item__link:hover{
    right: -5px;
    color: var(--primary-color);
    
    
}

 /* moblie category */
.moblie-category{
      display: none;
}
.moblie-category__list{
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto;

}
.moblie-category__list::-webkit-scrollbar {
    display: none;
}
.moblie-category__item{
    flex-shrink: 0;
    margin-right: 10px;
}
.moblie-category__item:nth-of-type(3n + 1) .moblie-category__link{
    background-color: #87AFD8;
}
.moblie-category__item:nth-of-type(3n + 2) .moblie-category__link{
    background-color: #76c9bd;
}
.moblie-category__item:nth-of-type(3n + 3) .moblie-category__link{
    background-color: #88cf81;
}
.moblie-category__link{
    --line-height: 2rem;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: var(--line-height);
    text-align: center;
    width: 110px;
    height:calc(var(--line-height) * 2);
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    border-radius: 5px;
    font-weight: 400;
    user-select: none;
    -webkit-user-select: none;
    padding: 6px 6px 0px 6px;
    

}

/* Home sort + filter */
.home-filter{
    
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}
.home-filter__label{
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}
.home-filter__btn{
    margin-right: 12px;
    min-width: 80px;
}
.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.home-filter__page-num{
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}
.home-filter__page-num-curent{
    color: var(--primary-color);
}
.home-filter__page-control{
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}
.home-filter__page-btn{
    flex: 1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
}
.home-filter__page-btn--disable{
    cursor: default;
    background-color: #f9f9f9;
}
.home-filter__page-btn--disable .home-filter__page-icon{
    color: #ccc;
}
.home-filter__page-btn:first-child{
    border-right: 1px solid #eee;
}

.home-filter__page-icon{
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}

/* Product item */
.home-product {
    margin-bottom: 20px;
}
.home-product-item{
    display: block;
    height: 340px;
    text-decoration: none;
    position: relative;
    margin-top: 10px;
    background-color: var(--white-color);
    border-radius: 3px ;
    
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    transition: transform ease-in 0.1s;
    will-change: transform;
}
.home-product-item:hover{
    transform: translateY(-2px);
    box-shadow:  0 1px 20px 0 rgba(0, 0, 0, 0.1);
}
.home-product-item__img{
    height: 260px;
    display: flex;
    
    
}
.home-product-item__img-1{
    display: flex;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background-position: top center;
    width: 100%;
    
}
.home-product-item__name{
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px -6px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}
.home-product-item-action{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}
.home-product-item__like{
 font-size: 1.3rem;
}
i.home-product-item__like-icon-fill{
    color: #f63d30;
    display: none;

}
.home-product-item__liked .home-product-item__like-icon-fill{
    display: inline-block;
}
.home-product-item__liked .home-product-item__like-icon-empty{
    display: none;
}
.home-product-item__star{
    font-size: 1rem;
    transform: scale(0.7);
    transform-origin: right;
    color: #d5d5d5;
}
.home-product-item__star-gold{
    color: var(--star-gold-color);
    
}
.home-product-item-origin{
    display: flex;
    justify-content: space-between;
    margin: 3px 10px 0;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 500;
}

.home-product-item__origin-name{
    margin-left: auto;
}

.home-product-item__favourite{
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--white-color);
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 4px ;
    border-bottom-right-radius: 4px ;
}
.home-product-item__favourite::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%) ;
}
.home-product-item__favourite span{
    color: var(--white-color);
}
.home-product-item__favourite i {
    color: var(--white-color);
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
}
.home-product__pagination{
    margin-top: 60px;
    margin-bottom: 40px;
    padding-left: 0;
}

/* footer */
.footer{
    border-top: 4px solid var(--primary-color) ;
    padding-top: 22px;
    background-color: var(--white-color);

}
.footer__heading{
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}
.footer-list{
    padding-left: 0;
    list-style: none;
}
.footer-item__link{
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 4px 0;
    display: flex;
    align-items: center;
}
.footer-item__link:hover{
    color: var(--primary-color);
}
.footer-item__icon{
    font-size: 1.8rem;
    margin: 2px 8px 0 0;
}
.footer__download{
    display: flex;
}
.footer__download-qr{
    width: 80px;
    height: 80px;
    object-fit: contain;
    border: 1px solid;
}
.footer__download-apps{
    flex: 1;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.footer__download-app-img{
    height: 20px;
}
.footer__download-app-link{
    color: transparent;
    text-decoration: none;
    
}

/* Slider */
.slider{
    position: relative;
    margin-top: var(--header-height);
    padding-top: 30%;
    background: url('/assets/img/viet-food.jpg') top center / cover no-repeat;
}
.text-content{
    position: absolute;
    bottom: 50px;
    color: var(--white-color);
    width: 100%;
    height: 50%;
    text-align: center;
    border-color: #555;

}
.text-heading{
    font-size: 5rem;
   font-weight: 1000;

}
.text_description{
    font-size: 1.4rem;
    margin-top: 30px;
    font-weight: 500;
     
}

/* nav moblie */
.nav__bars-btn{
    width: 24px;
    height: 24px;
    color: #fff;
    display: none;
    left: 0;
}
.nav__bars-item{
    font-size: 1.4rem;
}

/* Product */
.product{
    padding: var(--header-height) 0;
}
.product-top{
    margin-bottom: 30px;
    margin-top: 25px;
}
.product-top p {
    font-family: var(--text-color);
    margin: 0 12px;
    font-size: 1.4rem;
    margin-left: 50px;
}
.product-content-left{
    width: 50%;
}
.product-content-right{
    width: 50%;
}
.product-content-left-big-img{
    width: 80%;
    padding-left: 20%;
}
.product-content-left-big-img img{
    width: 100%;
}

.product-content-right-mail{
    display: flex;
    padding: 10px 0;

}
.product-content-right-mail p{
    margin-top: -3px;
    margin-left: 5px;
    font-size: 1.4rem;
   
}

.product-content-right-button{
    display: block;
    width: 180px;
    height: 30px;
    margin-top: 0px;
}
.product-content-right-button button{
    
    display: flex;
    
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--primary-color);
    border: 3px;
    border-radius: 4px;
    cursor: pointer;
}
.product-content-right-button-icon{
    color: var(--white-color);
    margin-left: 5px;
    font-size: 1.4rem;
}
.product-content-right-button button p{
    color: var(--white-color);
    margin: 10px 10px;
    font-size: 1.4rem;
}


.product-content-right-mail-icon{
    color: var(--primary-color);
}

.product-content-right-button button:hover{
    background-color: #FB9086;
   

}

.product-content-right-product-name h1{
    font-family: var(--black-color);
    font-size: 3rem;
}
.product-content-righ-tag{
    display: flex;
    text-align: center;
    size: 1.4rem;
    margin-bottom: 5px;
    color: var(--primary-color);
}
.product-content-righ-tag a{
    margin-top: -3px;
    margin-left: 5px;
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
}
.product-content-right-bottom {
    padding-top: 40px;
    position: relative;
    border-top: 1px solid #ddd;
    margin-top: 40px;
    max-width: 650px;
}
.product-content-right-bottom-top{
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    border-radius: 50%;
    top: -16px;
    background-color: var(--white-color);
    transform: translateX(-50%);
cursor: pointer;

}
.product-content-right-bottom-title{
    display: flex;
    border-bottom: 2px solid #ddd;
    margin-top: -20px;
}
.product-content-right-bottom-item {
    padding: 3px;
    cursor: pointer;
    padding-right: 6px;
}
.product-content-right-bottom-item p{
    font-family: var(--text-color);
    font-size: 1.7rem;

}
.product-content-right-bottom-content{
    padding-top: 20px;
}
.product-content-right-bottom-content {
    font-family: var(--text-color);
    font-size: 1.2rem;
}
.product-content-right-bottom-content-congthuc{
    display: none;
}
.activeB{
    display: none;
}
/* product-related */
.product-related{
    border: 1px solid #000;
    margin-top: 48px;
}
.product-related-title{
    padding-top: 0px;
}
.product-related-title p{
    font-size: 1.8rem;
    font-weight: 500px;
}
.product-content-related{
    padding-top: 30px;
    display: block;
    margin: 0 10px;
    margin-bottom: 40px;
    
}
.product-related-title{
    margin: 20px 0;
}
.product-related-title p{
    font-family: var(--text-color);
    font-size: 1.4rem;
    color: var(--black-color);
}
.product-related-item{
    width: 20%;
    text-align: center;
    padding: 0 6px;
}
.product-related-item img{
    width: 100%;
    border-radius: 5px;
}
.product-related-item h4 {
    font-family: var(--text-color);
    font-size: 1.6rem;
    color: var(--black-color);
    margin-top: 6px;
}
.home-product-item__img{
    display: flex;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background-position: top center;
    width: 100%;
    
}

/* Binh luan */
.product-content-right-bottom-content-binhluan{
    display: none;
}
.comment-box{
    position: absolute;

   
}
.comment-box textarea{
    width: 100%;
    height: 50px;
    padding: 10px 10px;
    margin-bottom: 10px;
    border-radius: 3px;

}
.comment-box textarea:focus{
    border: 1px solid #000;
    outline: 0;
}
.comment-box button{
    background-color: var(--primary-color);
    border: 0;
    border-radius: 3px;
    font-size: 1.4rem;
    color: var(--white-color);
}
.comment-box button:hover{
    background-color: #FB9086;
    
}